
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/effectsHome.css" />
    <script src="/scripts/main.js"></script>
    <title>NEWS IT</title>
</head>

<body>
    <h1>NEWS IT</h1>
    <p>Bienvenido a NEWS IT, tu fuente confiable de noticias tecnológicas.</p>
    <nav class="nav">
        <ul>
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/register.html">Register</a></li>
            <li><a href="/views/login.html">Login</a></li>
        </ul>
    </nav>
    <div class="info-home">
    <!--<h2>AboutUs</h2>-->
        <p>NEWS IT es un sitio dedicado a ofrecer las últimas noticias y actualizaciones del mundo tecnológico.</p> 
    </div>
    
    <!--<h2>Galería</h2>-->
    <h2>Destacadas</h2>
   <div class="gallery-container">
        <div class="gallery-track">
            <div class="gallery-img animate" style="background-image: url('/assets/breaking-news-background.jpeg');"></div>
            <div class="gallery-img animate" style="background-image: url('/assets/java.jpg');"></div>
            <div class="gallery-img animate" style="background-image: url('/assets/breaking-news-background.jpeg');"></div>
        </div>
    </div>
     <p><i>Explora nuestra galería de imágenes relacionadas con la tecnología y la innovación.</i></i></p>
    
    <h2>Articulos IT</h2>
    <div class="list-news"> 
        <ul>
            <li><a href="https://www.example.com/news1">Noticia 1: Un nuevo producto</a></li>
            <li><a href="https://www.example.com/news2">Noticia 2: Actualización de software importante</a></li>
            <li><a href="https://www.example.com/news3">Noticia 3: Análisis de tendencias tecnológicas</a></li>
        </ul>
    </div>
    <p><i>Descubre las últimas novedades en tecnología, desde lanzamientos de productos hasta análisis de tendencias.</i></p>
   

    <footer>
        <p>&copy; 2025 NEWS IT. Todos los derechos reservados.</p>
    </footer>
</body>