<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/effectsHome.css" />
    <script defer src="/scripts/functionsJs.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <title>Pruebas HTML, CSS & JS</title>
</head>

<body>
    <h1>NEWS IT</h1>
    <nav class="nav">
        <ul>
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/register.html">Register</a></li>
            <li><a href="/views/login.html">Login</a></li>
            <li><a href="/views/multimedia-space.html">Content by NewsIt</a></li>
        </ul>
    </nav>

    <div class="info-home">
        <p class="fade-in-up">Un sitio dedicado a ofrecer las últimas noticias y actualizaciones del mundo tecnológico.</p> 
    </div>

    <section class="gallery-container">
        <h2>Destacadas</h2>
        <div class="gallery-track">
            <ul>
                <li class="gallery-item">
                    <div class="gallery-item-content">
                        <h3 class="zoom-in">Últimas Noticias</h3>
                        <p class="zoom-in">Descubre las últimas novedades en tecnología, desde lanzamientos de productos hasta análisis de tendencias.</p>
                        <img src="/assets/java.jpg" alt="Java News" class="zoom-in"/>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-item-content">
                        <h3 class="zoom-in">Innovaciones Tecnológicas</h3>
                        <p class="zoom-in">Explora las innovaciones que están cambiando el mundo de la tecnología.</p>
                        <img src="/assets/breaking-news-background.jpeg" alt="News" class="zoom-in"/>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-item-content">
                        <h3 class="zoom-in">Opiniones</h3>
                        <p class="zoom-in">Lee opiniones sobre los temas más relevantes en el ámbito tecnológico.</p>
                        <img src="/assets/java.jpg" alt="Java News 2" class="zoom-in" />
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-item-content">
                        <h3 class="zoom-in">Eventos </h3>
                        <p class="zoom-in">Entérate de los próximos eventos en el mundo de la tecnología.</p>
                        <img src="/assets/breaking-news-background.jpeg" alt="News 2" class="zoom-in"/>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-item-content">
                        <h3 class="zoom-in">Análisis</h3>
                        <p class="zoom-in">Lee el análisis sobre los temas más relevantes en el ámbito tecnológico.</p>
                        <img src="/assets/java.jpg" alt="Java News 3" class="zoom-in"/>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-item-content">
                        <h3 class="zoom-in">Innovaciones Tecnológicas</h3>
                        <p class="zoom-in">Explora las innovaciones que están cambiando el mundo de la tecnología.</p>
                        <img src="/assets/breaking-news-background.jpeg" alt="News 3" class="zoom-in"/>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-item-content">
                        <h3 class="zoom-in">Análisis</h3>
                        <p class="zoom-in">Lee el análisis sobre los temas más relevantes en el ámbito tecnológico.</p>
                        <img src="/assets/java.jpg" alt="Java News 4" class="zoom-in"/>
                    </div>
                </li>

                <li class="gallery-item">
                    <div class="gallery-item-content">
                        <h3 class="zoom-in">Conferencias</h3>
                        <p class="zoom-in">Entérate de las próximas conferencias en el mundo de la tecnología.</p>
                        <img src="/assets/breaking-news-background.jpeg" alt="News 4" class="zoom-in"/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="gallery-controls">
            <button class="gallery-button prev">&#10094;</button>
            <button class="gallery-button next">&#10095;</button>
        </div>
        <p class="fade-in-up"><i>Descubre las últimas novedades en tecnología, desde lanzamientos de productos hasta análisis de tendencias.</i></p>
    </section>

    <section class="articles-container">
        <h2>Archivo de articulos</h2> 
         <p class="fade-in-up">Explora nuestro archivo de artículos para encontrar noticias, análisis y opiniones sobre los temas más relevantes en el ámbito tecnológico.</p>
        <input type="text" id="search-article" placeholder="Buscar artículo..." />
        <div id="articles-container">
            <div id="articles-list"> 
        </div>
    </section>

    <section class="contact-container">
        <h2>Siguenos en nuestras redes sociales</h2> 
        <div id="social-icons"></div>
    </section>

    <footer>
        <p>&copy; 2025 NEWS IT. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
