<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="/scripts/main.js"></script>
    <title>Login</title>
</head>

<body>
    <h1>NEWS IT</h1>
    <nav class="nav">
        <ul>
            <li><a href="/views/index.html">Back Home</a></li>
        </ul>
    </nav> 
    <div class="divLogin">
        <h2>Login Form</h2>
        <form id="loginForm">
            <label for="inputUserLogin">Ingresar usuario:</label>
            <input type="text" id="inputUserLogin" name="inputUserLogin" placeholder="Escribe tu usuario" required/>

            <label for="inputPassLogin">Ingresar contraseña:</label>
            <input type="password" id="inputPassLogin" name="inputPassLogin" placeholder="Escribe tu contraseña" required />

            <button type="submit">Login</button>
            
            <br><p>Si aun no tienes cuenta, apuntate a nuestro NewsLetter!</p>

            <button type="button"><a href="/views/register.html">Create Account</a></button>
            </form>
    </div>

    <footer>
        <p>&copy; 2025 NEWS IT. Todos los derechos reservados.</p>
    </footer>
</body>
</html>